{{ define "title" }}User management{{ end }}

{{ define "meta" }}
  <style>
    #_user_table {
      .username {
        width: 100%;
      }

      .actions {
        width: 0.1%;
      }
    }
  </style>
{{ end }}

{{ define "content" }}
  <section class="v gap-1">
    <header class="h">
      <h1>User management</h1>
    </header>
    <table id="_user_table" class="paper data padding">
      <thead>
        <tr>
          <th class="username">Username</th>
          <th>Last login</th>
          <th>Sessions</th>
          <th class="actions">Actions</th>
        </tr>
      </thead>
      <tbody>
        {{ range .Users }}
          <tr>
            <td class="username">
              <strong>
                <a href="/admin/users/{{ .UserId }}" class="link"
                  >{{ .Username }}</a
                >
              </strong>
            </td>
            <td>
              <time datetime="{{ .LastLogin }}"
                >{{ .LastLogin | ago }} ago</time
              >
            </td>
            <td>
              {{ .SessionCount }}
            </td>
            <td>
              <button class="link">Sign out</button>
            </td>
          </tr>
        {{ end }}
      </tbody>
    </table>
    <div class="h justify-end">
      <button class="button contrast-medium">Invite</button>
    </div>
  </section>
{{ end }}

{{ template "layout/main.html" . }}
