{{ define "title" }}User management{{ end }}

{{ define "meta" }}
  <style>
    #_user_table {
      .username {
        width: 100%;
      }

      .actions {
        width: 0.1%;
      }
    }
  </style>
{{ end }}

{{ define "content" }}
  <section class="v gap-1">
    <header class="h">
      <nav class="breadcrumbs">
        <a href="/admin">Admin</a>
        <a href="/admin/users">User management</a>
      </nav>
    </header>
    <table id="_user_table" class="paper data padding">
      <thead>
        <tr>
          <th class="username">Username</th>
          <th>Last login</th>
          <th>Sessions</th>
          <th>Invites remaining</th>
        </tr>
      </thead>
      <tbody>
        {{ range .Users }}
          <tr>
            <td class="username">
              <strong>
                <a href="/admin/users/{{ .UserId }}" class="link"
                  >{{ .Username }}</a
                >
              </strong>
            </td>
            <td>
              <time datetime="{{ .LastLogin }}"
                >{{ .LastLogin | ago }} ago</time
              >
            </td>
            <td>
              {{ .SessionCount }}
              <button
                class="link"
                hx-post="/admin/users/{{ .UserId }}/sign-out"
                hx-confirm="End all sessions and require '{{ .Username }}' to login again? It may take up to 15 minutes until all sessions are ended."
              >
                End all
              </button>
            </td>
            <td>
              {{ .InvitesRemaining }}
              <button
                class="link"
                hx-post="/admin/users/{{ .UserId }}/reset-invites"
              >
                Refill
              </button>
            </td>
          </tr>
        {{ end }}
      </tbody>
    </table>
    <div class="h justify-end">
      <a class="button contrast-medium" hx-post="/admin/users/invite">Invite</a>
    </div>
  </section>
{{ end }}

{{ template "layout/main.html" . }}
