{{ define "content" }}
  {{ if .Meta.User }}
    <section class="v gap-1 align-self-stretch flex-1">
      <p>
        You are accessing this service as
        <strong>{{ .Meta.User.Username }}</strong>
      </p>
      <section class="gap-1 link-list">
        {{ if hasRole .Meta.User "Storage" "View" }}
          <a class="button contrast-medium" href="/files">
            <h3>File access</h3>
            <h6>View and manage files</h6>
          </a>
        {{ end }}
        {{ if hasRole .Meta.User "Media" "View" }}
          <a class="button contrast-medium" href="/media">
            <h3>Media</h3>
            <h6>consoom</h6>
          </a>
        {{ end }}
        <a class="button contrast-medium" href="/account">
          <h3>My account</h3>
          <h6>just use the button up there lmao</h6>
        </a>
      </section>
    </section>
  {{ else }}
    <h1>204: NO CONTENT</h1>
  {{ end }}
{{ end }}

{{ define "meta" }}
  <style>
    #content {
      align-items: center;
      justify-content: center;
    }

    .link-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      > .button {
        padding: var(--unit);
      }
    }

    @media (max-width: 600px) {
      .link-list {
        grid-template-columns: 1fr;
      }
    }
  </style>
{{ end }}

{{ template "layout/main.html" . }}
