{{ define "title" }}Files {{ .Path }} — LOD2.zip{{ end }}

{{ define "meta" }}
  <style>
    #file-table {
      table-layout: fixed;
      width: 100%;
      min-width: 40rem;
    }

    .file-name {
      width: 60%;

      overflow: hidden;
    }

    .file-size {
      width: 15%;
    }

    .file-last-modified {
      width: 25%;
    }

    #trash-drop-zone {
      position: fixed;
      right: 0.5rem;
      bottom: 0.5rem;
      padding: 2rem;
    }
  </style>
  <script>
    function init() {
      const uploadZone = q("#upload-drop-zone");
      const trashZone = q("#trash-drop-zone");

      function warnWhenLeaving() {
        return "File upload will be cancelled.";
      }

      function updateFileTable(html) {
        htmx.swap("#file-table", html, {swapStyle: 'outerHTML'});
      }

      function lmaoXhrInTheYearOfOurLord2025(file, progressCallback) {
        return new Promise((resolve, reject) => {
          const formData = new FormData();
          formData.append("file", file);

          const xhr = new XMLHttpRequest();
          xhr.open("POST", `/files{{ .Path }}`, true);

          xhr.addEventListener("progress", (e) => {
            progressCallback(e);
          });

          xhr.addEventListener("load", (e) => {
            console.log("load", e);
            resolve();
          });

          xhr.addEventListener("readystatechange", (e) => {
            if (xhr.readyState !== XMLHttpRequest.DONE) {
              return;
            }

            if (e.target.status >= 200 && e.target.status < 300) {
              resolve();
            } else {
              reject(new Error(e.target.status));
            }
          });

          xhr.send(formData);
        });
      }

      function uploadFile(file) {
        const eRow = e(q("#file-table > tbody"), "tr", "upload-file");
        const eName = e(eRow, "td", "file-name");
        const eSize = e(eRow, "td", "file-size");
        const eLastModified = e(eRow, "td", "file-last-modified");

        let draggingFile = null;

        eName.textContent = file.name;
        eSize.textContent = `starting...`;
        eLastModified.textContent = "uploading...";

        const response = lmaoXhrInTheYearOfOurLord2025(file, (e) => {
            const progress = e.loaded / e.total;
            const bytes = e.loaded;
            const total = e.total;
            const percentage = Math.round(progress * 100);

            eSize.textContent = `${humanizeBytes(bytes)} / ${humanizeBytes(total)} (${percentage}%)`;
        });

        window.addEventListener("beforeunload", warnWhenLeaving);

        response.then(() => {
          eName.innerHTML = "";
          const eLink = e(eName, "a", "link file-link");
          eLink.href = `/files{{ $.Path }}${file.name}`;
          eLink.textContent = file.name;

          eSize.textContent = humanizeBytes(file.size);
          eLastModified.textContent = "just now";

          window.removeEventListener("beforeunload", warnWhenLeaving);
        }).catch((e) => {
          sendToast(`Upload failed: ${e.message}`);
          eSize.textContent = `failed (${e.message})`;
          eLastModified.textContent = "just now";
        });
      }

      async function deleteFile(path) {
        const response = await fetch(path, {
          method: "DELETE",
        });

        if (response.ok) {
          updateFileTable(await response.text());
        } else {
          sendToast(`Deletion failed: ${response.statusText}`);
        }
      }

      function handleDragover(e) {
        let zone = draggingFile != null ? trashZone : uploadZone;

        setTimeout(() => {
          zone.classList.add("visible");
        }, 0);
        e.preventDefault();
      }

      function cancelDrop(zone) {
        return (e) => {
          zone.classList.remove("visible");
          e.preventDefault();
        };
      }

      function handleUploadDrop(e) {
        uploadZone.classList.remove("visible");

        if (e.dataTransfer.files.length > 0) {
          uploadFile(e.dataTransfer.files[0]);
        }

        e.preventDefault();
      }

      function handleTrashDrop(e) {
        trashZone.classList.remove("visible");

        if (draggingFile === null) {
          return;
        }

        const href = draggingFile.href;
        deleteFile(href);

        draggingFile = null;
        e.preventDefault();
      }

      function allowDrop(e) {
        e.preventDefault();
        e.dataTransfer.dropEffect = "copy";
      }

      document.addEventListener("dragover", handleDragover);

      uploadZone.addEventListener("dragleave", cancelDrop(uploadZone));
      uploadZone.addEventListener("dragend", cancelDrop(uploadZone));
      uploadZone.addEventListener("dragstart", allowDrop);

      trashZone.addEventListener("dragleave", cancelDrop(trashZone));
      trashZone.addEventListener("dragend", cancelDrop(trashZone));
      trashZone.addEventListener("dragstart", allowDrop);

      uploadZone.addEventListener("drop", handleUploadDrop);
      trashZone.addEventListener("drop", handleTrashDrop);

      q("#create-directory-form").addEventListener("submit", async (e) => {
        e.preventDefault();
        const formData = new FormData(e.target);
        const directoryName = formData.get("directoryName");
        try {
          const response = await fetch(`/files{{ .Path }}/${directoryName}`, {
            method: "PUT",
          });

          updateFileTable(await response.text());

          q("#create-directory-form").reset();
        } catch (e) {
          sendToast(`Directory creation failed: ${e.message}`);
        }
      });

        document.addEventListener("dragstart", (e) => {
          const element = e.target.closest(".file-link");
          draggingFile = element;
          e.dataTransfer.effectAllowed = "move";
        });
    }

    document.addEventListener("DOMContentLoaded", init);
  </script>
{{ end }}

{{ define "content" }}
  <header class="h justify-between">
    <nav class="breadcrumbs">
      <a href="/files/">Files</a>

      {{ range .PathBreadcrumbs }}
        <a href="/files/{{ .Path }}">{{ .Component }}</a>
      {{ end }}
    </nav>
    <form class="h gap-1" id="create-directory-form" onsubmit="return false;">
      <input
        type="text"
        name="directoryName"
        class="inset"
        placeholder="Directory name"
      />
      <button class="button contrast-medium taller" hx-disable-elt="this">
        Create
      </button>
    </form>
  </header>

  {{ if .ErrorMessage }}
    <div class="v gap-2 flex-1">
      <div class="alert align-self-center">
        {{ .ErrorMessage }}
      </div>
    </div>
  {{ else }}

    {{ if .IsDirectory }}
      <div class="table-container paper">
        {{ template "components/storage-file-table.html" . }}
      </div>
      <div id="upload-drop-zone" class="drop-zone fullscreen">
        <div class="content">
          <h3>Drag and drop files here to upload</h3>
        </div>
      </div>
      <div id="trash-drop-zone" class="drop-zone">
        <div class="content">
          <h3>Drop here to delete</h3>
        </div>
      </div>
    {{ else }}
      <div class="alert info align-self-center">haha im a file! :D</div>
    {{ end }}

  {{ end }}
{{ end }}

{{ template "layout/main.html" . }}
