{{ define "title" }}Change password{{ end }}

{{ define "meta" }}
  <link rel="stylesheet" href="/static/styles/page/auth.css" />
{{ end }}

{{ define "content" }}
  <form id="change-password-form" method="POST" class="v auth-box gap-1">
    <h1>Change password</h1>
    <input type="hidden" name="nextRedirectUrl" value="{{ .Redirect }}" />

    <table class="paper">
      <tbody>
        <tr>
          <td>
            <label for="login-current-password">Current password</label>
          </td>
          <td>
            <input
              id="login-current-password"
              name="current"
              type="password"
              value="{{ .Current }}"
            />
          </td>
        </tr>

        <tr>
          <td>
            <label for="login-new-password">New password</label>
          </td>
          <td>
            <input
              id="login-new-password"
              name="new"
              type="password"
              value="{{ .New }}"
            />
          </td>
        </tr>

        <tr>
          <td>
            <label for="login-verify-password">Verify password</label>
          </td>
          <td>
            <input
              id="login-verify-password"
              name="verify"
              type="password"
              value="{{ .Verify }}"
            />
          </td>
        </tr>
      </tbody>
    </table>

    {{ if .Error }}
      <div class="error alert">{{ .Error }}</div>
    {{ end }}


    <div class="h gap-fill">
      <a
        href="{{ .Meta.Referrer }}"
        hx-on::click="history.back()"
        class="link contrast-medium"
        >Go back</a
      >
      <button class="_login button contrast-medium">Change password</button>
    </div>
  </form>
{{ end }}

{{ template "layout/main.html" . }}
