.auth-box {
  max-width: 36rem;
  margin: 1rem auto;
  padding: 1rem;
  padding-top: 4rem;

  width: 100%;

  table {
    label,
    input {
      padding: 1rem;
    }
  }

  .error {
    background: var(--error);
    color: white;

    padding: 0.5rem;
  }

  .h.gap-fill {
    padding-inline-start: 1rem;
    button {
      align-self: flex-end;
      max-width: 10rem;
      flex: 1;
    }
  }
}

/* single-column */
@media (max-width: 30rem) {
  .auth-box {
    padding: 0;
    padding-top: 2rem;
    table {
      border-inline-start-width: 0;
      border-inline-end-width: 0;
    }

    .h.gap-fill {
      padding-inline-end: 1rem;
    }
  }
}
