.auth-box {
  max-width: 38rem;
  margin: 4rem auto;

  width: 100%;

  table {
    label,
    input {
      padding: 1rem;
    }
  }

  .h.gap-fill {
    padding-inline-start: 1rem;

    button {
      align-self: flex-end;
      max-width: 10rem;
      flex: 1;
      margin-inline-start: auto;
    }
  }
}

/* single-column */
@media (max-width: 20rem) {
  .auth-box {
    padding: 0;

    table {
      border-inline-start-width: 0;
      border-inline-end-width: 0;
    }

    .h.gap-fill {
      padding-inline-end: 1rem;
    }
  }
}
