.auth-box {
  max-width: 35rem;
  margin: 1rem auto;
  padding-top: 4rem;

  width: 100%;

  .table .line + .line {
    border-top: 1px solid var(--fg-secondary);
  }

  table {
    border-spacing: 0;

    td + td {
      border-left: 1px solid var(--fg-secondary);
    }

    tr + tr td {
      border-top: 1px solid var(--fg-secondary);
    }

    label {
      padding: 1rem;
      min-width: 8rem;
    }

    input {
      min-width: 0;
      width: 100%;
      padding: 1rem;

      &:focus {
        background-color: hsla(40, 100%, 90%, 1);
      }
    }
  }

  .error {
    background: var(--error);
    color: white;

    padding: 0.5rem;
  }

  .h.gap-fill {
    padding-inline-start: 1rem;
    button {
      align-self: flex-end;
      max-width: 10rem;
      flex: 1;
    }
  }
}

/* single-column */
@media (max-width: 35rem) {
  .auth-box table {
    border-inline-start-width: 0;
    border-inline-end-width: 0;
  }
}
