{{ define "title" }}Manage user: {{ .User.Username }}{{ end }}

{{ define "meta" }}
  <style></style>
{{ end }}

{{ define "content" }}
  <section class="v gap-2">
    <header class="h">
      <nav class="breadcrumbs">
        <a href="/admin">Admin</a>
        <a href="/admin/users">User management</a>
        <a href="/admin/users/{{ .User.UserId }}">{{ .User.Username }}</a>
      </nav>
    </header>

    <table class="paper padding">
      <tr>
        <td>User ID</td>
        <td>{{ .User.UserId }}</td>
      </tr>
      <tr>
        <td>Created at</td>
        <td>
          <time datetime="{{ .User.CreatedAt }}"
            >{{ .User.CreatedAt | date "2006-01-02 15:04:05" }}</time
          >
        </td>
      </tr>
    </table>

    <section class="v gap-01">
      <header class="h gap-fill">
        <h3>Sessions</h3>
        <button
          class="button contrast-medium"
          hx-post="/admin/users/{{ .User.UserId }}/end-all-sessions"
          hx-confirm="End all sessions and require '{{ .User.Username }}' to login again? It may take a few minutes until all sessions are ended."
        >
          End all
        </button>
      </header>
      <div class="v paper table_container">
        <table class="data padding">
          <thead>
            <tr>
              <th>Started at</th>
              <th>Ends at</th>
              <th>Last activity</th>
            </tr>
          </thead>
          <tbody>
            {{ range .Sessions }}
              <tr>
                <td>
                  <time datetime="{{ .IssuedAt }}"
                    >{{ .IssuedAt | date "2006-01-02 15:04:05" }}</time
                  >
                </td>
                <td>
                  <time datetime="{{ .ExpiresAt }}">
                    {{ if .Expired }}
                      Ended
                    {{ else }}
                      {{ .ExpiresAt | date "2006-01-02 15:04:05" }}
                    {{ end }}</time
                  >
                </td>
                <td>
                  <time datetime="{{ .RefreshedAt }}"
                    >{{ if .Expired }}
                      N/A
                    {{ else }}
                      {{ .RefreshedAt | ago }} ago
                    {{ end }}</time
                  >
                </td>
              </tr>
            {{ end }}
          </tbody>
        </table>
      </div>
    </section>
  </section>
{{ end }}

{{ template "layout/main.html" . }}
