{{ define "title" }}Manage user: {{ .User.Username }}{{ end }}

{{ define "meta" }}
  <style>
    .access-level-select {
      width: 100%;
    }
  </style>
{{ end }}

{{ define "content" }}
  <header class="h">
    <nav class="breadcrumbs">
      <a href="/admin">Admin</a>
      <a href="/admin/users">User management</a>
      <a href="/admin/users/{{ .User.UserId }}">{{ .User.Username }}</a>
    </nav>
  </header>

  <section class="v gap-2">
    <div class="v paper table-container">
      <table class="padding">
        <tr>
          <td>User ID</td>
          <td>{{ .User.UserId }}</td>
        </tr>
        <tr>
          <td>Created at</td>
          <td>
            <time datetime="{{ .User.CreatedAt }}"
              >{{ .User.CreatedAt | date "2006-01-02 15:04:05" }}</time
            >
          </td>
        </tr>
        <tr>
          <td>Invited by</td>
          <td>
            {{ if .InvitedByUser }}
              <a href="/admin/users/{{ .InvitedByUser.UserId }}" class="link"
                >{{ .InvitedByUser.Username }}</a
              >
            {{ else }}
              -
            {{ end }}
          </td>
        </tr>
      </table>
    </div>

    <section class="v gap-01">
      <header class="h gap-fill">
        <h3>Roles</h3>
      </header>
      {{ template "components/roles-table.html" . }}
    </section>

    <section class="v gap-01">
      <header class="h gap-fill">
        <h3>Sessions</h3>
        <button
          class="button contrast-medium"
          hx-delete="/admin/users/{{ .User.UserId }}/sessions"
          hx-confirm="End all sessions and require '{{ .User.Username }}' to login again? It may take a few minutes until all sessions are ended."
          {{ if not (hasRole .Meta.User "UserManagement" "Edit") }}
            disabled title="You do not have permission to manage users"
          {{ end }}
        >
          End all
        </button>
      </header>
      <div class="v paper table-container">
        <table class="data padding">
          <thead>
            <tr>
              <th>Started at</th>
              <th>Ends at</th>
              <th>Last activity</th>
            </tr>
          </thead>
          <tbody>
            {{ if .Sessions }}
              {{ range .Sessions }}
                <tr>
                  <td>
                    <time
                      datetime="{{ .IssuedAt }}"
                      title="{{ .IssuedAt | ago }}"
                      >{{ .IssuedAt | date "2006-01-02 15:04:05" }}</time
                    >
                  </td>
                  <td>
                    <time
                      datetime="{{ .ExpiresAt }}"
                      title="{{ .ExpiresAt | ago }}"
                    >
                      {{ if .Expired }}
                        Ended
                      {{ else }}
                        {{ .ExpiresAt | date "2006-01-02 15:04:05" }}
                      {{ end }}</time
                    >
                  </td>
                  <td>
                    <time
                      datetime="{{ .RefreshedAt }}"
                      title="{{ .RefreshedAt | ago }}"
                      >{{ if
                        .Expired
                      }}
                        N/A
                      {{ else }}
                        {{ .RefreshedAt | date "2006-01-02 15:04:05" }}
                      {{ end }}</time
                    >
                  </td>
                </tr>
              {{ end }}
            {{ else }}
              <tr>
                <td colspan="3" class="text-center muted">
                  No active sessions
                </td>
              </tr>
            {{ end }}
          </tbody>
        </table>
      </div>
    </section>

    {{ if .CanDeleteUser }}
      <section class="v gap-1">
        <header class="h gap-fill">
          <h3>Danger Zone</h3>
        </header>
        <div class="alert v gap-1 padding-1">
          <p>
            Deleting a user will hide them from all admin interfaces but
            preserve their data.
          </p>
          <button
            type="submit"
            class="button contrast-high error align-self-start"
            hx-delete="/admin/users/{{ .User.UserId }}/delete"
            hx-confirm="Are you sure you want to delete {{ .User.Username }}? This action cannot be undone."
          >
            Delete User
          </button>
        </div>
      </section>
    {{ end }}
  </section>
{{ end }}

{{ template "layout/main.html" . }}
