{{ define "title" }}LOD2.zip - Login{{ end }}

{{ define "meta" }}
  <link rel="stylesheet" href="/static/styles/page/auth.css" />
{{ end }}

{{ define "content" }}
  <form
    id="login-form"
    method="POST"
    class="v auth-box gap-1"
    hx-boost="true"
    hx-disabled-elt="find button._login, input"
  >
    <input type="hidden" name="nextRedirectUrl" value="{{ .Redirect }}" />

    <table class="paper">
      <tbody>
        <tr>
          <td>
            <label for="login-username">Username</label>
          </td>
          <td>
            <input
              id="login-username"
              name="username"
              type="text"
              value="{{ .Username }}"
            />
          </td>
        </tr>

        <tr>
          <td>
            <label for="login-password">Password</label>
          </td>
          <td>
            <input
              id="login-password"
              name="password"
              type="password"
              value="{{ .Password }}"
            />
          </td>
        </tr>
      </tbody>
    </table>

    {{ if .Error }}
      <span class="error">{{ .Error }}</span>
    {{ end }}


    <div class="h gap-fill">
      <a href="/auth/register" class="link contrast-medium">Forgot password?</a>
      <button class="_login button contrast-medium">Login</button>
    </div>
  </form>
{{ end }}

{{ template "layout/main.html" . }}
