#content {
  flex: 1;

  h1 {
    font-size: 2rem;
    font-weight: bold;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: bold;
  }

  h3 {
    font-size: 1.2rem;
    font-weight: bold;
  }

  hr {
    margin: 0;
    border-bottom: 1px dashed var(--fg);
  }

  > header {
    border-bottom: 1px dashed var(--fg);
    margin-bottom: var(--unit);
    padding-bottom: var(--unit);
  }

  strong {
    font-weight: bold;
  }

  .breadcrumbs {
    flex: 1;
    font-size: 1.2rem;
    font-weight: bold;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    a {
      text-decoration: underline;

      &:focus-visible {
        background-color: var(--focus);
        color: var(--focus-fg);
      }
    }

    a + a::before {
      content: "/";
      display: inline-block;
      margin: 0 1rem;
    }
  }
}
