/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  text-decoration: none;
  color: inherit;

  border: 0;
  border-radius: 0;
  background: none;
  list-style: none;
}

/* MARK: - fonts */

@font-face {
  font-family: InterVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../fonts/InterVariable.woff2") format("woff2");
}
@font-face {
  font-family: InterVariable;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("font-files/InterVariable-Italic.woff2") format("woff2");
}

/* variables */

:root {
  --bg: #000;
  --fg: #fff;

  --opacity-secondary: 0.5;

  --fg-secondary: rgba(255, 255, 255, var(--opacity-secondary));

  --unit: 8px;
  --grid: calc(var(--unit) * 4);
  --padding: calc(var(--unit) * 2);
}

/* selection color */
::selection {
  background: var(--fg);
  color: var(--bg);
}

html {
  background-color: var(--bg);
  color: var(--fg);

  font-family:
    "Berkeley Mono",
    "JetBrains Mono",
    Menlo,
    Consolas,
    Monaco,
    Liberation Mono,
    Lucida Console,
    monospace;
  font-size: 14px;

  width: 100%;
  min-height: 100vh;
}

body {
  min-height: 100vh;
  max-width: 100ch;
  margin: 0 auto;
  padding: 1rem;

  display: flex;
  flex-direction: column;
}

/* global header / footer styles */
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--bg);
  color: var(--fg);
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: var(--bg);
  color: var(--fg);
}

/* styles for things that are inverted */
.button--primary {
  --fg: #000;
  --bg: #fff;
}

/* styles for buttons and links */
.button--primary {
  height: var(--grid);
  background: var(--bg);
  color: var(--fg);
  padding-inline: var(--padding);

  text-transform: uppercase;
  font-weight: 600;
}
