/* reset */

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  text-decoration: none;
  color: inherit;

  border: 0;
  border-radius: 0;
  background: none;
  list-style: none;

  outline: none;

  width: unset;
  border-collapse: separate;

  text-align: inherit;
}

/* MARK: - fonts */

@font-face {
  font-family: JetBrainsMono;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../fonts/JetBrainsMono.woff2") format("woff2");
}

/* variables */

:root {
  --unit: 1rem;
  --grid: calc(var(--unit) * 4);

  --page: hsl(0, 0%, 95%);

  --bg: hsl(0, 0%, 100%);
  --fg: hsl(0, 0%, 0%);
  --bg-secondary: hsl(0, 0%, 95%);
  --fg-secondary: hsla(0, 0%, 0%, 0.5);

  --shadow-offset: 2px;
  --shadow-color: hsla(0, 0%, 0%, 1);

  --inset-shadow-offset: 2px;
  --inset-shadow-color: hsla(0, 0%, 0%, 0.3);

  --padding: 0.5rem 1rem;

  --shadow: 0 calc(var(--shadow-offset) * 2 + 1px) 0
    calc(var(--shadow-offset) * -1) var(--shadow-color);
  --inset-shadow: inset var(--inset-shadow-offset) var(--inset-shadow-offset)
    0px var(--inset-shadow-color);

  --link: hsl(210, 100%, 50%);

  --error: hsl(8, 100%, 40%);

  --focus: hsla(40, 100%, 90%, 1);
}

/* selection color */
::selection {
  background: var(--fg);
  color: var(--bg);
}

html {
  font-family: "Berkeley Mono", "JetBrainsMono", "JetBrains Mono", monospace;

  width: 100dvw;
  height: 100dvh;
  overflow-x: hidden;
  overflow-y: auto;

  background-color: var(--page);
  color: var(--fg);

  font-size: 14px;
}

body {
  min-height: 100dvh;
  width: 100dvw;
  margin: 0 auto;
  padding: 1rem;

  max-width: 60rem;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

/* box layouts */
.v,
.h {
  display: flex;
  flex-wrap: wrap;
}

.v {
  flex-direction: column;
  align-items: stretch;
  max-width: 100%;
}

.h {
  flex-direction: row;
  align-items: center;
  row-gap: 0.5rem;
}

.padding-1 {
  padding: 1rem;
}

.gap-01 {
  gap: calc(var(--unit) * 0.5);
}

.gap-1 {
  gap: var(--unit);
}

.gap-fill {
  justify-content: space-between;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.align-self-start {
  align-self: flex-start;
}

.align-self-end {
  align-self: flex-end;
}

.align-self-center {
  align-self: center;
}

.align-self-stretch {
  align-self: stretch;
}

/* paper */
.paper {
  outline: 1px solid var(--fg);
  box-shadow: var(--shadow);
  background: var(--bg);
}

/* inset */
.inset {
  outline: 1px solid var(--fg);
  box-shadow: var(--inset-shadow);
  background: var(--bg);
}

/* button */

.button {
  display: block;
  padding: 0.3rem 1rem;

  &:hover:not([disabled]) {
    background: var(--fg);
    color: var(--bg);
    cursor: pointer;
  }

  &:focus-visible:not([disabled]) {
    background: var(--focus);
  }

  &.contrast-high {
    background: var(--fg);
    color: var(--bg);
  }

  &.contrast-medium {
    outline: 1px solid var(--fg);
    box-shadow: var(--shadow);
    background: var(--bg);

    &:hover:not([disabled]) {
      background: var(--fg);
      color: var(--bg);
    }

    &:focus-visible:not([disabled]) {
      background: var(--focus);
    }
  }

  &[disabled] {
    opacity: 0.3;
  }

  &:active:not([disabled]) {
    opacity: 0.4;
  }
}

/* link */

.link {
  text-decoration: underline;

  &.contrast-medium {
    color: var(--fg-secondary);
  }

  &:hover {
    color: var(--fg);
  }
}

/* input */

input[type="text"],
input[type="password"],
textarea {
  min-width: 0;
  padding: 0.5rem;

  &:focus {
    background-color: var(--focus);
  }
}

textarea {
  resize: vertical;
  min-height: 4rem;
}

/* table */

table {
  border-spacing: 0;

  thead {
    background-color: var(--bg-secondary);

    th {
      border-bottom: 1px solid var(--fg-secondary);
    }
  }

  td + td,
  th + th {
    border-left: 1px solid var(--fg-secondary);
  }

  tr + tr td {
    border-top: 1px solid var(--fg-secondary);
  }

  tr.hr-below + tr td {
    border-top: 2px solid var(--fg-secondary);
  }

  label {
    padding: 0.5rem;
    min-width: 8rem;
  }

  input {
    width: 100%;
  }

  &.data {
    tbody {
      tr:nth-child(even) {
        background-color: var(--bg-secondary);
      }

      tr:hover {
        background-color: var(--focus);
      }
    }
  }
}

/* */
.alert {
  padding: calc(1rem - 8px);
  position: relative;
  color: var(--error);
  font-weight: bold;

  border: 8px solid transparent;
  border-image: repeating-linear-gradient(
      135deg,
      var(--error) 0,
      var(--error) 4px,
      transparent 4px,
      transparent 8px
    )
    8 round;

  &.info {
    --error: var(--fg-secondary);
  }
  &.success {
    --error: hsla(160, 70%, 40%, 1);
  }
}
/*** GLOBALS (header) */

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 0.2rem;

  margin-bottom: 2rem;

  position: sticky;
  top: 1rem;

  hr {
    flex: 1;
    height: 0;
    border-bottom: 1px dashed var(--fg);
    margin: 0 2rem;
  }

  .button {
    padding: 0.8rem;
  }
}

/*** GLOBALS (footer) */

#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-size: 80%;
  color: var(--fg-secondary);

  position: sticky;

  padding: 1rem;
}

/*** GLOBALS (env-banner) */

#env-banner {
  position: fixed;
  top: 3rem;
  right: -12rem;
  width: 30rem;

  text-align: center;

  transform: translateY(-50%) rotate(45deg);
  padding: 0.2rem 0;
  background-color: var(--error);
  color: var(--bg);
  font-weight: bold;
  pointer-events: none;
  z-index: 1000;
}

/* single-column */
@media (max-width: 50rem) {
  body {
    padding: 0;
  }

  #header {
    border-inline-start-width: 0;
    border-inline-end-width: 0;
    border-block-start-width: 0;
    top: 0;
  }

  #content {
    padding: 0 1rem;
  }
}

@media (max-width: 20rem) {
  #content {
    padding: 0 0.5rem;
  }
}

#content {
  flex-grow: 1;
}
