/* reset */

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  text-decoration: none;
  color: inherit;

  border: 0;
  border-radius: 0;
  background: none;
  list-style: none;

  outline: none;

  width: unset;
  border-collapse: separate;
}

/* MARK: - fonts */

@font-face {
  font-family: JetBrainsMono;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../fonts/JetBrainsMono.woff2") format("woff2");
}

/* variables */

:root {
  --unit: 1rem;
  --grid: calc(var(--unit) * 4);

  --page: hsl(0, 0%, 95%);

  --bg: hsl(0, 0%, 100%);
  --fg: hsl(0, 0%, 0%);
  --fg-secondary: hsla(0, 0%, 0%, 0.5);

  --shadow-offset: 2px;
  --shadow-color: hsla(0, 0%, 0%, 1);

  --inset-shadow-offset: 2px;
  --inset-shadow-blur: 4px;
  --inset-shadow-color: hsla(0, 0%, 0%, 0.5);

  --padding: 0.5rem 1rem;

  --shadow: 0 calc(var(--shadow-offset) * 2) 0 calc(var(--shadow-offset) * -1)
    var(--shadow-color);

  --link: hsl(210, 100%, 50%);

  --error: hsl(8, 100%, 40%);
}

/* selection color */
::selection {
  background: var(--fg);
  color: var(--bg);
}

html {
  font-family: "Berkeley Mono", "JetBrainsMono", "JetBrains Mono", monospace;

  width: 100%;
  min-height: 100vh;

  background: var(--page);
  color: var(--fg);

  font-size: 14px;
}

body {
  min-height: 100svh;
  width: 100svw;
  margin: 0 auto;
  padding: 1rem;

  max-width: 60rem;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

/* box layouts */
.v,
.h {
  display: flex;
  flex-wrap: wrap;
}

.v {
  flex-direction: column;
  align-items: stretch;
}

.h {
  flex-direction: row;
  align-items: center;
  row-gap: 0.5rem;
}

.gap-1 {
  gap: var(--unit);
}

.gap-fill {
  justify-content: space-between;
}

/* paper */
.paper {
  border: 1px solid var(--fg);
  box-shadow: var(--shadow);
  background: var(--bg);
}

/* button */

.button {
  padding: 0.3rem;

  &:hover:not([disabled]) {
    background: var(--fg);
    color: var(--bg);
    cursor: pointer;
  }

  &.contrast-high {
    background: var(--fg);
    color: var(--bg);

    &:hover:not([disabled]) {
      box-shadow:
        var(--shadow),
        inset 0 0 0 1px var(--bg);
    }
  }

  &.contrast-medium {
    border: 1px solid var(--fg);
    box-shadow: var(--shadow);
    background: var(--bg);

    &:hover:not([disabled]) {
      background: var(--fg);
      color: var(--bg);

      box-shadow:
        var(--shadow),
        inset 0 0 0 1px var(--bg);
    }
  }

  &[disabled] {
    opacity: 0.3;
  }
}

/* link */

.link {
  text-decoration: underline;

  &.contrast-medium {
    color: var(--fg-secondary);
  }

  &:hover {
    color: var(--fg);
  }
}

/* input */

input[type="text"],
input[type="password"] {
  min-width: 0;
  padding: 0.5rem;

  &:focus {
    background-color: hsla(40, 100%, 90%, 1);
  }
}

/* table */

table {
  border-spacing: 0;

  td + td {
    border-left: 1px solid var(--fg-secondary);
  }

  tr + tr td {
    border-top: 1px solid var(--fg-secondary);
  }

  label {
    padding: 0.5rem;
    min-width: 8rem;
  }

  input {
    width: 100%;
  }
}

/*** GLOBALS (header) */

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 0.2rem;

  margin-bottom: 2rem;

  position: sticky;
  top: 1rem;

  hr {
    flex: 1;
    height: 0;
    border-bottom: 1px dashed var(--fg);
    margin: 0 2rem;
  }

  .button {
    padding: 0.8rem;
  }
}

/*** GLOBALS (footer) */

#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-size: 80%;
  color: var(--fg-secondary);

  position: sticky;

  padding: 1rem;
}

/* single-column */
@media (max-width: 40rem) {
  body {
    padding: 0;
  }

  #header {
    border-inline-start-width: 0;
    border-inline-end-width: 0;
    border-block-start-width: 0;
    top: 0;
  }
}

#content {
  flex-grow: 1;
}
