{{ define "title" }}Admin{{ end }}

{{ define "meta" }}
  <style></style>
{{ end }}

{{ define "content" }}
  <header class="h">
    <nav class="breadcrumbs">
      <a href="/admin">Admin</a>
    </nav>
  </header>
  <section class="v gap-1">
    <a href="/admin/users" class="link">User management</a>
    {{ if hasRole .Meta.User "DangerousSql" "Edit" }}
      <hr />
      <a href="/admin/sql" class="link">SQL console</a>
    {{ end }}
  </section>
{{ end }}

{{ template "layout/main.html" . }}
